@model BloodPressure;

<h2>Edit the Existing Measurent</h2>

<form asp-action="Edit" asp-controller="BloodPressure">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Systolic">Systolic: </label>
        <input type="text" asp-for="Systolic" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Diastolic">Diastolic</label>
        <input type="text" asp-for="Diastolic" class="form-control" />
    </div>

    <div class="form-group">
        <label title="Position.PositionName" class="control-label">Position: </label>
        <select asp-for="Position.PositionId" name="Position.PositionId" asp-items="ViewBag.Positions" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="MeasurementDate">Measurement Date:</label>
        <input type="date" asp-for="MeasurementDate" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary mt-2">Submit</button>
    <a asp-action="List" asp-controller="BloodPressure" class="btn btn-danger mt-2">Cancel</a>
</form>